CHAIN_ID=114
CHAIN_URL=https://coston2-api.flare.network/ext/C/rpc
MODE=0
SIMULATED_TEE=false
PROXY_URL=http://tee-proxy:6663
INITIAL_OWNER=REPLACE_WITH_GOVERNANCE_OWNER_ADDRESS
GOVERNANCE_SIGNERS=REPLACE_WITH_COMMA_SEPARATED_GOVERNANCE_ADDRESSES
GOVERNANCE_THRESHOLD=1
EXTENSION_ID=REPLACE_WITH_REGISTERED_PUBLIC_EXTENSION_ID
EXTENSION_PORT=7702
SIGN_PORT=7701
STATE_PATH=/data/quietline.bolt
STATE_ENCRYPTION_KEY=REPLACE_WITH_64_HEX_CHARACTERS
QUIET_VAULT=REPLACE_WITH_DEPLOYED_QUIET_VAULT_ADDRESS
FXRP_ADDRESS=0x0b6A3645c240605887a5532109323A3E12273dc7
USDT0_ADDRESS=0xC1A5B41512496B80903D1f32d6dEa3a73212E71F
