.git
.github
.cache
.vercel
.env
.env.*
**/.env
**/.env.*
**/node_modules
**/dist
**/coverage
**/artifacts
**/cache
**/typechain-types
**/*.db
**/*.db-shm
**/*.db-wal
**/*.bolt
deployments
docs
frontend/*
!frontend/package.json
contracts/*
!contracts/package.json
fcc
extension
*.log
