COSTON2_RPC_URL=https://coston2-api.flare.network/ext/C/rpc
DEPLOYER_PRIVATE_KEY=REPLACE_WITH_FUNDED_COSTON2_PRIVATE_KEY
OPERATOR_ADDRESS=REPLACE_WITH_OPERATOR_ADDRESS
FCC_PROXY_URL=REPLACE_WITH_PUBLIC_CONFIDENTIAL_SPACE_PROXY_URL
RELAYER_URL=REPLACE_WITH_PUBLIC_RELAYER_URL
OPERATIONS_API_KEY=REPLACE_WITH_AT_LEAST_32_RANDOM_CHARACTERS
BACKSTOP_AMOUNT_USDT0=10
BACKSTOP_CONFIRMATION_TIMEOUT_MS=900000
