node_modules/
node_modules.*/
dist/
coverage/
artifacts/
cache/
.cache/
typechain-types/
.env
.env.v2
.env.local
fcc/.env.coston2
fcc/.env.coston2-v2
frontend/.env.production
relayer/.env
relayer/.env.v2
*.log
*.db
*.db-shm
*.db-wal
*.bolt
extension/data/
deployments/local.json
fcc/generated/

.vercel
