CHAIN_URL=https://coston2-api.flare.network/ext/C/rpc
SOURCE_DATE_EPOCH=REPLACE_WITH_COMMIT_UNIX_TIMESTAMP
EXTENSION_ID=REPLACE_WITH_REGISTERED_PUBLIC_EXTENSION_ID
INITIAL_OWNER=REPLACE_WITH_GOVERNANCE_OWNER_ADDRESS
GOVERNANCE_SIGNERS=REPLACE_WITH_COMMA_SEPARATED_GOVERNANCE_ADDRESSES
GOVERNANCE_THRESHOLD=1
QUIET_VAULT=REPLACE_WITH_DEPLOYED_QUIET_VAULT_ADDRESS
STATE_ENCRYPTION_KEY=REPLACE_WITH_64_HEX_CHARACTERS
PROXY_PRIVATE_KEY=REPLACE_WITH_64_HEX_CHARACTERS
DIRECT_API_KEY=REPLACE_WITH_AT_LEAST_32_RANDOM_CHARACTERS
FCC_CODE_HASH=REPLACE_WITH_MEASURED_32_BYTE_IMAGE_HASH
INDEXER_DB_HOST=REPLACE_WITH_REACHABLE_COSTON2_INDEXER_HOST
INDEXER_DB_PORT=3306
INDEXER_DB_NAME=REPLACE_WITH_INDEXER_DATABASE_NAME
INDEXER_DB_USER=REPLACE_WITH_INDEXER_DATABASE_USER
INDEXER_DB_PASSWORD=REPLACE_WITH_INDEXER_DATABASE_PASSWORD
NGROK_DOMAIN=REPLACE_WITH_STATIC_NGROK_DOMAIN
